<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339051105782-t9c4qvhenquqs5ot5p5neh3amlm1f8bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339051105782-t9c4qvhenquqs5ot5p5neh3amlm1f8bg</string>
	<key>API_KEY</key>
	<string>AIzaSyBqkv5gv17R4sPw1CI_QMJ51rf5eNfv8U8</string>
	<key>GCM_SENDER_ID</key>
	<string>339051105782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.shotaroooe.DiagnosticMaker</string>
	<key>PROJECT_ID</key>
	<string>diagnosticmaker-23c8b</string>
	<key>STORAGE_BUCKET</key>
	<string>diagnosticmaker-23c8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:339051105782:ios:360152bd737b6590760bd7</string>
</dict>
</plist>
